<div class="s2i-location">
    <!-- <div class="s2i-location__search">      
        <input id="searchInput" class="s2i-location__input" type="text" name="search-input" placeholder="Search for address in history..."/>
        <i class="fas fa-search-location s2i-location__icon"></i>
        <button id="searchLocation" class="btn s2i-button-primary s2i-button-big text-white" onclick="getInput('searchInput')">Search</button>
    </div> -->
    <div class="reports reports__text">
        <p class="reports__text-header">Click on a report below to see the exact location!</p>
    </div>
</div>
<div class="s2i-maps">
    <iframe
        id="maps"
        class="s2i-maps__iframe"
        loading="lazy"
        allowfullscreen
        src="">
    </iframe>
</div>

<script>
    // Google maps API - Search & Place
    function getInput(tagID) {
        var el = document.getElementById(tagID);
        searchLocation(el.value);
    }
</script>