<div id="popup" class="s2i-submit-popup">
    <div class="s2i-submit-popup__popup">
        <p id="popupTitle" class="title"></p>
        <p id="popupDescription" class="description"></p>
        <p id="popupSub1" class="subdescription"></p>
        <p id="popupSub2" class="subdescription"></p>
        <div id="popupButtons" class="s2i-submit-popup__buttons"></div>
    </div>
</div>