<div class="s2i-welcome">
    <div class="s2i-welcome__text d-flex flex-column justify-content-center align-items-center">
        <h2 class="text1 fw-normal">Welcome to</h2>
        <h1 class="text2 fw-bold">A greener place!</h1>
        <p class="text3">Start by reporting to other polluted locations near you</p>
        <a href="/report" class="btn text3 s2i-button-primary text-white">Report</a>
        <p class="text3 fw-bold">OR</p>
        <p class="text3">Find out some polluted locations reported by others</p>
        <a href="/earth-status" class="btn text3 s2i-button-primary text-white">Watch</a>
    </div>
    <div class="s2i-welcome__earth">
        <img src="/static/smiling-earth.png" />
    </div>
</div>